.user_detail {
  margin-top: 1em;
  text-align: left;
}
.user_detail p {
  padding-bottom: .4em;
}
.phone, .address, .email {
  padding-left: 1.8em;
  background-size: 1.6em 1.4em;
  background-repeat: no-repeat;
  vertical-align: middle; 
}
.phone {
  background-image: url('../../assets/img/mobilephone.png');
}
.address {
  background-image: url('../../assets/img/coordinates.png');
}
.email {
  background-image: url('../../assets/img/mail.png');
}
.read_more {
  float: right;
  padding: .2em .6em;
  font-weight: 500;
  background: #2196f3;
  border-radius: 4px;
  color: #fff;
}
.user_children_box {
  margin: 1em;
  border-radius: 4px;
  background: #fafafa;
  box-shadow: 0 2px 6px #d7d7d7;
}
.user_children_item {
  padding: 1em;
}

.user_todo_list {
  margin-bottom: 1em;
}
.user_todo_item {
  display: flex;
  justify-content: space-between;
}
.todo_title {
  margin-right: 1.5em;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  text-align: left;
}
.todo_title_content {
  vertical-align: top;
  line-height: 1.5em;
  height: 1.5em;
}
.todo_finish img {
  width: 1.5em;
  height: 1.5em;
}
.checkbox {
  width: 1.5em;
  height: 1em;
}